section.hero{
    padding: 0;
}
.hero{
    text-align: center;
    margin-top: 59px;

    .first-row{
        padding: 64px;
        position: relative;
        z-index: 0;

        &::before{
            content: '';
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background: rgba(202, 224, 1, 0.2);
            position: absolute;
            top: -50px;
            right: 20px;
        }

        h1{
            font-size: 2rem;
            margin: 20px 0;
        }
        .meet{
            p{
                font-weight: bold;
                color: #25001b;
                margin: 40px auto;
                display: inline-block;
                position: relative;
                -webkit-text-stroke: 0.01rem rgba(255, 0, 93, 0.7);
                &::before{
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20%;
                    height: 100%;
                    color: #ff005d;
                    border-right: 1px solid #ff005d;
                    overflow: hidden;
                    white-space: nowrap;
                    animation: animate 4s linear infinite;
                }
            }
        }
        .scroll{
            margin-top: 20px;
            width: 30px;
        }
    }
}

@keyframes animate{
    0%, 10%, 100%{
        width: 0;
    }
    70%, 90%{
        width:100%;
    }
}



.circle{
    animation: circleAnim 1s infinite alternate-reverse;
}
@keyframes circleAnim{
    from{
        transform: translate(262px, 798px);
        z-index: 5;
    }
    to{
        transform: translate(262px, 830px);
        z-index: 5;
    }
}

@media(min-width: 640px){
    .hero{
        margin-top: 89px;
    }
}

@media(min-width: 992px){
    .hero{
        display: flex;
        .first-row{
            h1{
                font-size: 3rem;
                line-height: 1.2em;
            }
            .meet{
                p{
                    margin: 40px 0;
                }
            }
        }
        .second-row{
            z-index: 10;
            svg{
                margin-left: -50%;
                margin-top: 15%;
                width: 100%;
            }
        }
    }
}
@media(min-width: 1130px){
    .hero{
        .first-row{
            padding: 110px 64px 64px 160px;
        }
    }
}